
/* for 5s verical */
@media screen and (min-width: 0) and (max-width: 600px)and (max-height: 600px){
    
    .menu{
        width: 100%;
        height: 26vh;
        background: #fffeec;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        box-shadow:none;  
        overflow: hidden;
        background: rgba( 223, 71, 71, 0.2 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 20px );
        -webkit-backdrop-filter: blur( 20px );
    }
    .appeal{
        display: none;
        visibility: hidden;
    }
    .btn2{
        display: none;
        visibility: hidden;
    }
    .btn2_adaptive{
        visibility: visible;
        display: flex;
        position: fixed;
        z-index: 99;
        bottom: 6%;
        margin-top: 50%;
        margin-left: 27.5%;
        background-color: #80ED99;
        color: #873434;
        width: 45%;
        height: 6vh;
        justify-content: center;
        align-items: center;
        font-size: 0.875em;
        font-family:'Roboto', sans-serif;
        font-weight: 300;
        filter: drop-shadow(0px 4px 35px #C45B5B);
        border-radius: 19px;
    }
    .menu ul{
        
        width: 84%;
        height:30px;
        flex-direction: row;
        justify-content: space-between;
        
    }
    
    .menu ul li{
        background-color: #f56b46;
        font-family: 'Roboto', sans-serif;
        font-size: 0.7em;
        height: 23px;
        width: 62px;
        border-radius: 19px;
        margin-top: 27px;
    }
    .menu ul li a{
        color: white ;
    }
    .logo{
        margin-top: 9%;
    }
    .logo a{
        font-size: 2.3em;
        /* color:rgba(76, 78, 103, 1);  */
        color:rgb(80, 84, 143); 

    }
    .appeal2{
        display: block;
        visibility: visible;
        color: rgb(90, 24, 4);
        margin-top: 0;  
    }
    .menu ul li a:hover{
        width:inherit;
        height: inherit;
        border-radius: inherit;
        background-color: #f32a2a;
    }
    .menu ul li a:active{
        background-color:#f32a2a; 
    }
    
    .plot{
        padding-top: 24vh;
        width: 100%;
        background-image: url('icons/ss.svg');   
    }
    .rect{
        margin: 0 auto;
        width: 93%;
        height: 21vh;
        background-color: #83b9ffcf
    }
    .quotetext{
        width: 96%;
        font-size: 1em;
        letter-spacing: 0.7px;
        /* color: white; */
    }
    .quotespeaker{
        bottom: 15%;
        font-size: 0.9em;
        color: rgb(63, 39, 19);;
    }
    .posting{
        margin-left: 0;
    }
    .whopost{
        margin-left: 7%;
        margin-bottom: 1%;
        font-size: 0.6em;
    }
    .popup{
        width: 96%;
        height: 76%;
        left: 2%;
        
    }
    
        
}