@import "popup.css";


*{
    box-sizing:border-box;
}
body{
    margin: 0;
    padding: 0;
    /* background-color: #FEFDEF; */
    background-image: url('icons/bg_plot.svg');
    background-attachment:fixed;
    font-size: 16px;
    font-family:'Roboto', sans-serif;
    font-weight: 400;
}
.appeal2{
    display: none;
    visibility: hidden;
}
ul{
    list-style: none;
    padding: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1em;
    font-family:'Roboto', sans-serif;
    font-weight: 400;
}
li{
    margin-top: 62px;
}
a{
    text-decoration: none;
    color: rgb(42, 17, 41);
}

/* .container,.menu,.plot{
    /* border:2px solid blue;} */
.posting{
    /* border: 1px dashed red; */
    margin-left: 12%;
    margin-top: 6%;
}
.photo{
    /* border: 1px solid brown; */
    border-radius: 100%;
    background: rgba(64, 183, 190, 0.42);
    width: 115px;
    height:115px;
    position: relative;
}
.photo img{
    width: 50px;
    height: 50px;
    position: absolute;
    right:30px;
    bottom: 30px;
}
.whopost{
    font-size: 0.75em;
    font-weight: 300;
    font-style: italic;
    margin-left: 2.6%;
    margin-bottom: 0.6%;
}
.appeal{
    margin-top: 4%;
    margin-left: 12%;
    font-size: 1.75em;
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    color: rgb(122, 32, 4);
}
.container{
    width: 100%;
    height: 100vh;
    margin-top: 0;
    margin: 0 auto;
    /* display: flex; */
    position: static;
    display: flex;
    justify-content: flex-end;
}
.menu{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    background: linear-gradient(117.75deg, #ee2929 4.6%, rgba(187, 61, 3, 0.74) 94.28%);
    /* background: rgba(231, 104, 69, 0.96); */
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}
.menu ul{
    width: 100%;
}
.menu ul li{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul li a{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(185, 244, 246);
    font-weight: 500;
    /* box-shadow: 0 1px #c3c4fb; */
    border-radius: 9px;
    font-weight: 300;
}
.menu ul li a:hover{
    background-color: #F07167;
}
.menu ul li a:active{
    background-color: #F07167;
}

.rect{
    /* border:1px solid black; */
    border-radius: 26px;
    background: rgba(64, 183, 190, 0.42);
    width: 70%;
    height: 15vh;
    position: relative;
    
}

.quotetext{
    position: absolute;
    width: 90%; 
    font-size:1.375em;
    color: rgb(63, 39, 19);
    left: 4%;
    top: 13%;
}
.quotespeaker{
    position: absolute;
    font-size: 1.125em;
    font-weight:300;
    bottom:20%;
    right: 11%;
    /* width: fit-content; */
    
}
.plot{
    width: 80%;
    height:fit-content;
    /* background-image: url("icons/Rectangle 59.svg"); */
    background-image: url('icons/Rectangle 59.svg');
    /* background-position: right; */

    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:auto;
    background-position: 60% 50%;
    /* padding-left: 13.44%; */
    /* border: 5px dotted brown; */
    

}
.logo{
    width: auto;
    margin: 0 auto;
    margin-top: 11%;
}
.logo a{
    font-family: 'Bebas Neue', cursive;
    font-size: 2.8em;
    color: rgb(254, 255, 249);
    letter-spacing: 0.0625em;
}

.btn2{
    margin-top: 50%;
    background-color: #80ED99;
    color: #873434;
    width: 62%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875em;
    font-family:'Roboto', sans-serif;
    font-weight: 300;
    filter: drop-shadow(0px 4px 31px #C45B5B);
    border-radius: 19px;
}
.btn2_adaptive{
    background-color: #80ED99;
    color: #873434;
    width: 62%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875em;
    font-family:'Roboto', sans-serif;
    font-weight: 300;
    filter: drop-shadow(0px 4px 31px #C45B5B);
    border-radius: 19px;
    visibility: hidden;
    display:none;
}

.btn2 a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.btn2:hover{
    transform: scale(1.06);
    transition-duration: 300ms;
}


